@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --titulos: 'Baloo 2', cursive;
    --contudos: 'PT Sans', sans-serif;
    --botoes: 'Mulish', sans-serif;

    --cor-principal: #023859;
    --cor-escura: #011126;
    --cor-media: #011C40;
    --cor-media-clara: #025E73;
    --cor-clara: #88E8F2;
}

html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*  MENU */

.button-menu{
    position: fixed;
    z-index: 100;
    color: white;
    right: 2rem;
    top: 2rem;
    display: flex;
    text-shadow: .1rem .1rem 1px rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.button-menu.show-menu{
    right: 16rem;
}

/* HOME*/

.header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.img-header{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--cor-escura);
}

.img-header > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom{
    0%{
        transform: scale(1.4);
    }

    100%{
        transform: scale(1);
    }
}

.content-header{
    position: absolute;
    top: 30%;
    left: 15%;
}

.content-header h1{
    color: var(--cor-clara);
    font-family: var(--titulos);
    font-size: 3.5rem;
    font-weight: 300;
    text-shadow: .2rem .2rem 2px rgba(0,0,0,0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    width: 485px;
}

.content-header h1::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
}
.content-header p{
    font-family: var(--contudos);
    color: var(--cor-clara);
    font-size: 2rem;
    text-shadow: .2rem .2rem 2px rgba(0,0,0,0.4);
    margin-bottom: 2rem;
}

.content-header p::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

.content-header button{
    opacity: 0;
    animation: move-button 1s 1.5s forwards;
}

@keyframes move-button{
    0%{
        transform: translateY(10rem); opacity: 0;
    }

    100%{
        transform: translateY(0); opacity: 1;
    }
}

.all-buttons{
    font-family: var(--botoes);
    color: var(--cor-clara);
    box-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-image: linear-gradient(to right, var(--cor-media), var(--cor-principal));
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.all-buttons:hover{
    box-shadow: inset 0rem 0rem 4px rgba(0,0,0,1);
    color: var(--cor-media-clara);
}

/*Sidebar*/

.sidebar{
    width: 20rem;
    height: 100vh;
    top: 0;
    position: fixed;
    right: -22rem;
    z-index: 99;
    transition: all .5s ease-in-out;
}

.sidebar > ul{
    text-decoration: none;
}


.sidebar img{
    width: 100%;
    height: 100%;
    filter: blur(4px);
    opacity: 0.9;
}

.sidebar.show-menu{
    right: 0;
}

.menu {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
    font-family: var(--botoes);
    font-size: 1.5rem;
    color: var(--cor-clara);
    font-weight: bolder;
    transition: color 0.5s;
    text-shadow: .1rem .1rem 1px black;
}

.menu-link:hover{
    color: var(--cor-media-clara);
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-shadow: .1rem .1rem 1px black;
}

.social-media i{
    color: var(--cor-clara);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 1s;
}

.social-media i:hover{
    color: var(--cor-media-clara);
}

#insta{
    font-weight: 400;
}

/* About me*/

.modal-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar {
    display: flex;
}

.modal {
    background-color: var(--cor-clara);
    width: 60%;
    min-width: 400px;
    padding: 40px;
    border: 10px solid var(--cor-escura);
    box-shadow: 0 0 0 10px var(--cor-clara);
    border-radius: 5px;
    position: relative;
    color: var(--cor-escura);
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0 , 60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0 , 0, 0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}

.title {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-around;
}

.modal img {
    width: 190px;
    margin-left: 1rem;
    border-radius: 50%;
    border: 4px solid var(--cor-escura);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .4);
}

.modal h1 {
    font-family: var(--titulos);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .4);
}

.modal p {
    font-family: var(--contudos);
    font-size: 1.2rem;
    margin-bottom: 5rem;
}

#botao-teste {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 2.5rem;
}

.fechar{
    position: absolute;
    font-size: 1.5rem;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid var(--cor-clara);
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    font-family: var(--botoes);
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .4);
}

/*Knowledge*/

.sessao-conhecimentos{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: var(--cor-clara);
}

.sessao-conhecimentos img{
    max-width: 100%;
    max-height: 100%;
}

.conhecimento-img{
    height: 400px;
    width: 400px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.conhecimento-img img{
    object-fit: cover;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sessao-header h1 {
    font-family: var(--titulos);
    font-size: 3rem;
    color: var(--cor-principal);
    text-shadow: .1rem .1rem 1px rgba(0,0,0,0.2);
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: solid 3px var(--cor-principal);
}

.conhecimentos {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

.left {
    position: absolute;
    top: 4rem;
}

.right{
    position: absolute;
    top: 4rem;
    right: 0;
}

#html5{
    position: relative;
    width: 300px;
    left: 230px;
    margin-bottom: 2.5rem;
}

#css3{
    position: relative;
    width: 300px;
    left: 125px;
    margin-bottom: 3rem;
}

#js{
    position: relative;
    width: 300px;
    left: 230px;
}

#design{
    position: relative;
    width: 300px;
    right: 215px;
    margin-bottom: 4rem;
}

#www{
    position: relative;
    width: 300px;
    right: 105px;
    margin-bottom: 4rem;
}

#github{
    position: relative;
    width: 300px;
    right: 215px;
}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: var(--cor-principal);
    text-shadow: .1rem .1rem 1px rgba(0, 0, 0, 0.2);
}

.conhecimento-header i{
    font-size: 2.5rem;
    color: var(--cor-media-clara);
}

.conhecimento-header h3{
    font-family: var(--botoes);
    font-size: 1.5rem;
    padding-left: 1rem;

}

.conhecimento-text {
    font-family: var(--contudos);
    margin-top: 1rem;
    text-align: left;
    color: var(--cor-escura);
}

/* Media Query*/

@media (max-width: 600px) {

    .content-header{
        left: 10%;
        top: 50%;
        transform: translate(0%, -50%);
    }

    .content-header h1 {
        font-size: 2.5rem;
        width: 450px;
        line-height: 3rem;
        width: 350px;
    } 

    .content-header p {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .content-header button{
        padding: .8rem 1.8rem;
    }

    .modal h1 {
        font-size: 1.5rem;
    }

    .modal img{
        width: 100px;
        margin-left: .5rem;
        border-radius: 50%;
        border: 4px solid var(--cor-escura);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .4);
    }

    .modal p {
        font-size: 1rem;
        margin-bottom: 3rem;
    }
}

@media (max-height: 390px){
    
    .modal{
        margin-top: 150px;
    }

    .modal h1 {
        font-size: 1.5rem;
    }

    .modal img{
        width: 100px;
        margin-left: .5rem;
        border-radius: 50%;
        border: 4px solid var(--cor-escura);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .4);
    }

    .modal p {
        font-size: 1rem;
        margin-bottom: 3rem;
    }
}